.caja{
    width: 30%;
    // background: #595959;
    border: 2px solid #000;
    margin-bottom: 20px;
    left: 32%;
    position: relative;
    padding: 5px 10px;
    padding-right: 5%;
}

h2 {
    text-decoration: underline;
}
.padre h3 {
    font-weight: normal;
}
.padre{
    // background: #00A1FC;
    position: relative;
    width: 70%;
    margin-left: 15%;
}
.hijo {
    // background: #AF25C7;
    width: 25%;
    // padding: 5px 10px;
    display: inline-block;
    left: 100px;
}
#principal{
    margin: 0px 5%;
}
#final{
    margin-left: 5%;
}
#text{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}
.btnpadre{
    width: 70%;
    position: relative;
    margin-left: 15%;
}
button p{
    padding: 0px 5px;
}
button{
    margin-left: 5%;
    width: 25%;
    cursor: pointer;
    border: 2px solid #000;
}
.card{
    margin-left: 50px;
}
.card-img-top{
    border-radius: 5px;
}
