<p>
    Menu <br>
    Carrusel.
</p>

<div class="multiple-card-slider">
    <div id="carouselExampleControls" class="carousel mado" data-bs-ride="carousel">
        <div class="carousel-inner mado2">

            <!--Item del Carrusel en formaro Card-->
            <div class="carousel-item caritm">
                <a href="#" class="xd">
                    <div class="card cadrM">
                        <img src="../../../../assets/img/km.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Papel</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="carousel-item caritm">
                    <a href="#" class="xd">
                        <div class="card cardM">
                          <img src="../../../../assets/img/idol.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Escolares</h5>
                          </div>
                        </div>
                      </a>
            </div>

            <div class="carousel-item">
                <a href="#">
                    <div class="card cardM">
                        <img src="../../../../assets/img/Koisekai.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Artes</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="carousel-item">
                <a href="#">
                    <div class="card" style="width: 18rem;">
                      <img src="assets/img/catálogo/lapices.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Escritura</h5>
                      </div>
                    </div>
                  </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                    <div class="card" style="width: 18rem;">
                      <img src="assets/img/catálogo/oficina.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Oficina</h5>
                      </div>
                    </div>
                  </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                    <div class="card" style="width: 18rem;">
                      <img src="assets/img/catálogo/manualidades.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Manualidades</h5>
                      </div>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/catálogo/didacticos.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Didácticos</h5>
                    </div>
                </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                    <div class="card" style="width: 18rem;">
                      <img src="assets/img/catálogo/ade.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Adhesivos</h5>
                      </div>
                    </div>
                  </a>
            </div>
        </div>
        <button class="carousel-control-prev mado-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next mado-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
  </div>

<script>
    $('.multiple-card-slider .carousel').each(function(){
      var currentCarouselId = '#' + $(this).attr('id');
      const multipleItemCarousel = document.querySelector(currentCarouselId);
    
      if(window.matchMedia("(min-width:576px)").matches){
          const carousel = new bootstrap.Carousel(multipleItemCarousel, {
              interval: false,
              wrap: false
          })
          var carouselWidth = $(currentCarouselId + ' .carousel-inner')[0].scrollWidth;
          var cardWidth = $(currentCarouselId + ' .carousel-item').width();
          var scrollPosition = 0;    
          $(currentCarouselId + ' .carousel-control-next').on('click', function(){
              if(scrollPosition < (carouselWidth - (cardWidth * 4))){
                  console.log('next');
                  scrollPosition = scrollPosition + cardWidth;
                  $(currentCarouselId + ' .carousel-inner').animate({scrollLeft: scrollPosition},600);
              }
          });
          $(currentCarouselId + ' .carousel-control-prev').on('click', function(){
              if(scrollPosition > 0){
                  console.log('prev');
                  scrollPosition = scrollPosition - cardWidth;
                  $(currentCarouselId + ' .carousel-inner').animate({scrollLeft: scrollPosition},600);
              }
          });
      }else{
          $(multipleItemCarousel).addClass('slide');
      }
    });
</script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
