<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">
  <div style="text-align:center">
    <h1>Aplicación: {{ title }}</h1>
  </div>

  <form>
    <div class="form-group">
      <label for="operandoA">OperandoA:</label>
      <input
        type="number"
        class="form-control"
        id="operandoA"
        name="operandoA"
        placeholder="Escribe operando A"
        [(ngModel)]="operandoA"
      />
    </div>

    <div class="form-group">
      <label for="operandoB">OperandoB:</label>
      <input
        type="number"
        class="form-control"
        id="operandoB"
        name="operandoB"
        placeholder="Escribe operando B"
        [(ngModel)]="operandoB"
      />
    </div>

    <button type="submit" class="btn btn-primary" (click)="onSumar()">
      Sumar
    </button>
  </form>
  <div class="cont-text">
    <p class="res">Resultado: {{ resultado }} </p>
  </div>
</div>

<router-outlet></router-outlet>
