<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <STYLE SRC="app.component.scss"></STYLE> -->
<link rel="stylesheet" href="app.component.scss">
<H2 class="hr">Horario y Ubicación</H2>

<DIV class="container">
    <DIV class="style">
    <DIV class="dias">
      <P class="dia">Lunes</P>
      <P class="dia">Martes</P>
      <P class="dia">Miercoles</P>
      <P class="dia">Jueves</P>
      <P class="dia">Viernes</P>
      <P class="dia">Sabado</P>
      <P class="dia">Domingo</P>
    </DIV>
    <DIV class="apertura">
      <P class="dia">Cerrado</P>
      <P class="dia">Cerrado</P>
      <P class="dia">Cerrado</P>
      <P class="dia">Abierto</P>
      <P class="dia">Cerrado</P>
      <P class="dia">Cerrado</P>
      <P class="dia">Cerrado</P>
    </DIV>
  </DIV>
  
  <DIV class="mapmain">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4431.591563842501!2d-90.06073558853026!3d20.38006598103309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85f881205fcbe6ed%3A0x99072fe98e3c0e0a!2zQy4gNywgRsOhdGltYSwgMjQ5MDIgQ2Fsa2luw60sIENhbXAu!5e1!3m2!1ses-419!2smx!4v1693949601296!5m2!1ses-419!2smx"  loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="maps"></iframe>
  </DIV>
</DIV>
<router-outlet></router-outlet>
